.biu-description {
    padding: 10px;
}

.biu-container {
    position: relative;
    height: 100%;
}

.biu-container-inner {
    max-width: 600px;
    margin: 100px auto 0 auto;
    text-align: center;
    position: relative;
}

.biu-folder-select {
    margin-top: 20px;
}